<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <root level="WARN" />

    <logger  level="INFO"   name="com.wayneleo" />
    <logger  level="INFO"   name="com.wayneleo.quickstart.embed.Bootstrap" />
    <logger  level="INFO"   name="com.bridgeintelligent" />
    <logger  level="INFO"   name="org.apache.zookeeper" />
    <logger  level="INFO"   name="org.apache.kafka.common" />
    <logger  level="ERROR"  name="com.alibaba.dubbo.config.spring.beans.factory.annotation.ServiceAnnotationBeanPostProcessor" />
    <logger  level="WARN"   name="org.hibernate.boot.internal.SessionFactoryBuilderImpl" />
    <logger  level="ERROR"  name="org.hibernate.id.UUIDHexGenerator" />
    <logger  level="ERROR"  name="org.hibernate.validator.messageinterpolation.ParameterMessageInterpolator" />
    <logger  level="ERROR"  name="springfox.documentation.swagger.readers.operation.OperationImplicitParameterReader" />

</configuration>
