<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <root level="ERROR" />

    <logger name="com.wayneleo" level="DEBUG" />
    <logger name="com.wayneleo.quickstart.embed.Bootstrap" level="INFO" />
    <logger name="com.bridgeintelligent" level="INFO" />
    <logger name="org.apache.zookeeper" level="INFO" />
    <logger name="org.apache.kafka.common" level="INFO" />
    <logger name="com.alibaba.dubbo.config.spring.beans.factory.annotation.ServiceAnnotationBeanPostProcessor" level="ERROR" />
    <logger name="org.hibernate.id.UUIDHexGenerator" level="ERROR" />
    <logger name="org.hibernate.validator.messageinterpolation.ParameterMessageInterpolator" level="ERROR" />
    <logger name="springfox.documentation.swagger.readers.operation.OperationImplicitParameterReader" level="ERROR" />


</configuration>
